extends layout
block content

  div(class="container")
    include nav.pug
    div(class="row justify-content-center")
      div(class="col-md-12")
        h1(class="title") Atas Configuration
      div(class="col-md-12")
        form(action="/config/save", method="post")
          div(class="row")
            div(class="col-3")
              div(class="form-group mb-4")
                label(for="auth_username" class="form-label") Username
                input(type="text", name="auth_username" class="form-control" value=configData.auth_username)
              div(class="form-group mb-4")
                label(for="password" class="form-label") Password
                input(type="text", name="password" class="form-control" value=configData.password)
              div(class="form-group mb-4")
                label(for="client_id" class="form-label") Client ID
                input(type="text", name="client_id" class="form-control" value=configData.client_id)
              div(class="form-group mb-4")
                label(for="client_secret" class="form-label") Client Secret
                input(type="text", name="client_secret" class="form-control" value=configData.client_secret)
              div(class="form-group mb-4")
                label(for="vat_number" class="form-label") VAT Number
                input(type="text", name="vat_number" class="form-control" value=configData.vat_number)
              div(class="form-group mb-4")
                label(for="business_place" class="form-label") Business Place
                input(type="text", name="business_place" class="form-control" value=configData.business_place)
              div(class="form-group mb-4")
                label(for="pms_business_device" class="form-label") PMS Business Device
                input(type="text", name="pms_business_device" class="form-control" value=configData.pms_business_device)
              div(class="form-group mb-4")
                label(for="pos_business_device" class="form-label") POS Business Device
                input(type="text", name="pos_business_device" class="form-control" value=configData.pos_business_device)
              div(class="form-group mb-4")
                label(for="grant_type" class="form-label") Grant Type
                input(type="text", name="grant_type" class="form-control" value=configData.grant_type)
            div(class="col-3")
              div(class="form-group mb-4")
                label(for="tax_base_url" class="form-label") Tax Base URL
                input(type="text", name="tax_base_url" class="form-control" value=configData.tax_base_url)
              div(class="form-group mb-4")
                label(for="auth_base_url" class="form-label") Auth Base Url
                input(type="text", name="auth_base_url" class="form-control" value=configData.auth_base_url)
              div(class="mb-4")
                label(for="state_tax_active" class="form-label") State Tax Active
                select(name="state_tax_active", class="form-select" value=configData.state_tax_active)
                  each obj in [{value: "0", text: "NO"}, {value: "1", text: "YES"}]
                    option(value= obj.value, selected=configData.state_tax_active == obj.value ? true : false)= obj.text
              div(class=" mb-4")
                label(for="svc_active" class="form-label") SVC Active
                select(name="svc_active", class="form-select" value=configData.svc_active)
                  each obj in [{value: "0", text: "NO"}, {value: "1", text: "YES"}]
                    option(value= obj.value, selected=configData.svc_active == obj.value ? true : false)= obj.text
              div(class=" mb-4")
                label(for="mask_guest_info" class="form-label") Mask Guest Information
                select(name="mask_guest_info" class="form-select" value=configData.mask_guest_info)
                  each obj in [{value: "0", text: "NO"}, {value: "1", text: "YES"}]
                    option(value= obj.value, selected=configData.mask_guest_info == obj.value ? true : false)= obj.text
              div(class="form-group mb-4")
                label(for="pos_config_type" class="form-label") Pos Config Type
                input(type="text", name="pos_config_type" class="form-control" value=configData.pos_config_type)
              div(class="form-group mb-4")
                label(for="pos_vat_tax_string" class="form-label") POS VAT Tax String
                input(type="text", name="pos_vat_tax_string" class="form-control" value=configData.pos_vat_tax_string)
              div(class="form-group mb-4")
                label(for="pos_state_tax_string" class="form-label") POS State Tax String
                input(type="text", name="pos_state_tax_string" class="form-control" value=configData.pos_state_tax_string)
              div(class="form-group mb-4")
                label(for="pos_svc_tax_string" class="form-label") POS SVC Tax String
                input(type="text", name="pos_svc_tax_string" class="form-control" value=configData.pos_svc_tax_string)
              div(class="mb-4")
                label(for="pos_tax_combined" class="form-label") POS TAX Combined
                select(name="pos_tax_combined" class="form-select")
                  each obj in [{value: "0", text: "NO"}, {value: "1", text: "YES"}]
                    option(value= obj.value, selected=configData.pos_tax_combined == obj.value ? true : false)= obj.text
              div(class="form-group mb-4")
                label(for="pos_tax_combined_string" class="form-label") POS TAX Combined String
                input(type="text", name="pos_tax_combined_string" class="form-control" value=configData.pos_tax_combined_string)
              div(class="form-group mb-4")
                label(for="pos_not_taxable" class="form-label") POS Not Taxable
                input(type="text", name="pos_not_taxable" class="form-control" value=configData.pos_not_taxable)
            div(class="col-3")
              div(class="form-group mb-4")
                label(for="pms_vat_tax_string" class="form-label") PMS VAT Tax String
                input(type="text", name="pms_vat_tax_string" class="form-control" value=configData.pms_vat_tax_string)
              div(class="form-group mb-4")
                label(for="pms_state_tax_string" class="form-label") PMS State Tax String
                input(type="text", name="pms_state_tax_string" class="form-control" value=configData.pms_state_tax_string)
              div(class="form-group mb-4")
                label(for="pms_svc_tax_string" class="form-label") PMS SVC Tax String
                input(type="text", name="pms_svc_tax_string" class="form-control" value=configData.pms_svc_tax_string)
              div(class="form-group mb-4")
                label(for="vat_tax_rate" class="form-label") VAT Tax Rate
                input(type="text", name="vat_tax_rate" class="form-control" value=configData.vat_tax_rate)
              div(class="form-group mb-4")
                label(for="state_tax_rate" class="form-label") State Tax Rate
                input(type="text", name="state_tax_rate" class="form-control" value=configData.state_tax_rate)
              div(class="form-group mb-4")
                label(for="svc_tax_rate" class="form-label") SVC Tax Rate
                input(type="text", name="svc_tax_rate" class="form-control" value=configData.svc_tax_rate)
              div(class="form-group mb-4")
                label(for="pms_pos_rooms" class="form-label") PMS POS Rooms
                input(type="text", name="pms_pos_rooms" class="form-control" value=configData.pms_pos_rooms)
          div 
            button(type="submit") Update
