extends layout

block content
  div(class="container")
    include nav.pug
    div(class="row")
      div(class="col-md-12")
        h1(class="title")= title
        p(class="subtitle") Device Mapping
      div(class="col-md-12")
        table(class="table")
          tr
            td WorkstationId
            td Business Device
            td Type
          each val in devices 
            tr 
              td=val.workstation_id 
              td=val.business_device 
              td=val.device_type
      div(class="col-md-12")
        form(action="/devices/add", method="post", class="row")
          input(type="text", name="workstation_id", class="col-auto")
          input(type="text", name="business_device", class="col-auto")
          select(name="device_type", class="col-auto")
            option(value="PMS") PMS
            option(value="POS") POS
          input(type="submit", value="Add Device", class="btn btn-primary btn-sm col-auto")

