extends layout

block content
  div(class="container")
    include nav.pug

    div(class="row")
      div(class="col-md-12")
        h1(class="title")= title
        p(class="subtitle") Welcome to #{title}
      div(class="col-md-12")
        table(class="table")
          tr
            td Endpoint 
            td Status 
            td Actions
          tr
            td Http Endpoint
            if status.http
              td Server Running 
              td 
                a(href="/stop/httpendpoint" class="btn btn-primary btn-sm") Stop Server
            else 
              td Server Stopped
              td 
                a(href="/start/httpendpoint" class="btn btn-primary btn-sm") Start Server
          tr 
            td Tcp Endpoint
            if status.tcp
              td Server Running
              td 
                a(href="/stop/tcpendpoint" class="btn btn-primary btn-sm") Stop Server
            else 
              td Server Stopped
              td 
                a(href="/start/tcpendpoint" class="btn btn-primary btn-sm") Start Server