extends layout

block content
  div(class="form-signin")
    form(action="/login/password", method="post")
      div(class="form-floating")
        input(type="text", id="username", name="username", class="form-control")
        label(for="username") Username
      div(class="form-floating")
        input(type="password", id="password", name="password", class="form-control")
        label(for="password") Password
      button(class="w-100 btn btn-lg btn-primary", type="submit") Sign in 

