nav(class="navbar navbar-expand-lg navbar-light bg-light")
  div(class="container-fluid")
    ul(class="nav col-12 col-md-auto mb-2 justify-content-center mb-md-0")
      li(class="nav-item")
        a(class="nav-link" href="/dashboard") Dashboard
      li(class="nav-item")
        a(class="nav-link" href="/config") Config
      li(class="nav-item")
        a(class="nav-link" href="/devices") Devices
      li(class="nav-item")
        a(class="nav-link" href="/reports") Reports
    div(class="d-flex text-end")
      a(href="/logout" class="btn btn-primary") Log Out