extends layout

block content
  div(class="container")
    include nav.pug
    div(class="row justify-content-center")
      div(class="col-md-4")
        h1(class="title")= title
    div(class="row justify-content-center")
      div(class="col-md-4")
        form(action="/reports/view", method="post", class="row")
          div(class="mb-3")
            select(name="source", class="form-select")
              option(value="PMS") PMS
              option(value="POS") POS
          div(class="mb-3")
            input(type="date", name="startDate", class="form-control")
          div(class="mb-3")
            input(type="date", name="endDate", class="form-control")
          div(class="mb-3")
            input(type="submit", value="View Report", class="btn btn-primary btn-sm")